body{
	background: rgb(58, 58, 58);
	color: white;
	font-family: Arial, Helvetica, sans-serif;
}
header{
	background: white ;
	border-bottom: black;
	border-style: solid;
	color: white;
	padding: 10px 10px 0px 10px;
}

header a{
	color:rgb(30, 126, 236);
	font-weight: bolder;
	margin-top: 20px;
	text-decoration: none;
	text-transform: uppercase;
	
}

header .logo a{

	background-image: url("../images/Logo.png");
	background-repeat: no-repeat;
	display: inline-block;
	height: 80px;
	margin-right: 500px;	
	position: relative;
	text-indent: -9999999px;
	top:-20px;
	width: 300px;
	
}

.Content{

	background: white;
	color: rgb(21, 148, 233);
	
	padding: 20px;
	
}	

.Content h2{
	margin: 20px 50px;
	
	color: gray;
	position: relative;
	top: -20px;
	font-size: 15px;
}

.Content p{
	justify-content: center;
	text-align: justify;
	margin: 10px 50px 50px 20px;
	color: rgba(0, 0, 0, 0.685);
}	


.features{
	background: white;
	color: gray;
	display: flex;
	padding: 20px;
	flex-direction: row;
	flex-wrap: wrap;
}




div{

	margin: auto;
	width: 50;
}


.features img{
	
	width: 200;
	height: 200px;
}



ul{
	margin: 0;
	padding: 0;
	list-style: none;
}
a{
	color: rgb(21, 148, 233);
	font-weight: bolder;
	text-decoration: none;
}
a:hover	{
	color: black;
}

a:active{
	color:aquamarine;
}

li{
	display: inline-block;
	margin: 0 20px 0 0;
}

footer{
	background: black ;
	color: white;
	padding: 20px;
}

/*@media screen and (max-width: 700px) {
	.features{
		display: block;
	}
	
}*/
